.empty-cart-container {
    text-align: center;
    margin-top: 100px;
}

    .empty-cart-container h2 {
        font-size: 28px;
        color: #333;
    }

    .empty-cart-container p {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
    }

    .empty-cart-container .empty-cart-icon {
        font-size: 80px;
        color: #ccc;
        margin-bottom: 20px;
    }

    .empty-cart-container .shop-now-btn {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.3s;
    }

        .empty-cart-container .shop-now-btn:hover {
            background-color: #0056b3;
        }
